* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  background-image: url("https://bing.ee123.net/img/");
}

.dayTime {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.num {
  width: 120px;
}

#time {
  display: flex;
}

#time li {
  list-style-type: none;
  font-size: 100px;
  font-weight: 660;
  color: black;
  margin: 10px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#day {
  color: black;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 响应式设计 */
@media screen and (max-width: 768px) {
  body {
    background-image: url("https://bing.ee123.net/img/?w=768x1280");
  }

  .num {
    width: 60px;
  }

  #time li {
    font-size: 60px;
    font-weight: 500;
    margin: 5px;
  }

  #day {
    display: none;
  }

}