* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  width: 622px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  background-color: white;
}

.chatBox {
  overflow-y: scroll;
  padding-bottom: 20px;
}

/* 伪元素隐藏滑动条 */
.chatBox::-webkit-scrollbar {
  display: none;
}

/* 问题输入框 */
.inputBox {
  /* position: absolute;
  bottom: 30px; */
  width: 600px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  border-radius: 12px;
  background-color: white;
  padding: 10px;
}

#sxWeb {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #f5f6f7;
  background-color: #f1f2f3;
  border-radius: 9px;
}

#sxWeb:hover {
  border: 1px solid black;
  background-color: #f9f9f9;
}

#textInput {
  width: 500px;
  height: 30px;
  padding: 5px;
  border-radius: 9px;
  border: 1px solid #ccc;
  margin: 0px 10px 0px 10px;
  outline: none;
}

#sendButton {
  width: 80px;
  height: 40px;
  padding: 5px;
  border-radius: 9px;
  border: 1px solid #f5f6f7;
  background-color: #f1f2f3;
  /* font-size: 16px; */
  font-weight: 500;
}

#sendButton:hover {
  border: 1px solid black;
  background-color: #f9f9f9;
}

/* 对话内容 */

.message {
  width: 500px;
  margin-bottom: 10px;
  border: 1px solid black;
  background-color: white;
  border-radius: 9px;
  padding: 10px;
}

.sender {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .chatContainer {
    width: 500px;
    padding: 10px;
  }

  .inputBox {
    width: 350px;
    padding: 5px;
  }

  .message {
    width: 300px;
  }
  
}