* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  background-image: url("https://bing.ee123.net/img/");
}

.search {
  margin-top: 250px;
}

.searchBox {
  display: flex;
  border-radius: 25px;
  background-color: white;
  padding: 5px;
  border: 1px solid #bfbfbf;
  box-shadow: 1px 1px 5px 2px #00000010;
}

.searchBox:hover {
  border: 1px solid #8a8a8a;
}

.searchBox img {
  padding: 5px;
  width: 30px;
  height: 30px;
}

#searchText {
  width: 500px;
  height: 40px;
  border: 0px;
  margin-left: 10px;
  font-size: 16px;
  background: none;
  outline: none;
  color: black;
}

.footer {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f9f9;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.developer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}
/* #hitokoto_text{
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 30px;
} */



/* 响应式设计 */
@media screen and (max-width: 768px) {
  body {
    background-image: url("https://bing.ee123.net/img/?w=768x1280");
  }

  #searchText {
    width: 300px;
    height: 30px;
  }

  .searchBox img {
    width: 20px;
    height: 20px;
  }
  .developer {
    font-size: 9px;
  }
  /* #hitokoto_text{
    font-size: 14px;
    margin-bottom: 20px;
  } */
  

}