* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  background-image: url("https://bing.ee123.net/img/");
}

.search {
  margin-top: 250px;
}

.searchBox {
  display: flex;
  border-radius: 25px;
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 1px 1px 5px 2px #00000010;
}

.searchBox:hover {
  border: 1px solid #8a8a8a;
}

.searchBox img {
  padding: 5px;
  width: 30px;
  height: 30px;
  color: black;
}

#searchText {
  width: 500px;
  height: 40px;
  border: 0px;
  margin-left: 10px;
  font-size: 16px;
  background: none;
  outline: none;
  color: black;
}

.setting {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 10px;
  top: 10px;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 3px;
  border: 1px solid black;
}

#settingImg {
  margin: 3px;
  width: 30px;
  height: 30px;
}

#settingBox {
  display: none;
  /* width: 300px; */
  /* height: 400px; */
  border-radius: 12px;
}
ol {
  padding: 5px;
  /* border: 1px solid black; */
  background-color: #f9f9f9;
  margin: 3px;
  border-radius: 6px;
}

ol input {
  height: 30px;
  width: 300px;
  padding: 2px;
  border-radius: 6px;
  border: 1px solid black;
  background-color: white;
}
ol button {
  height: 30px;
  width: 306px;
  margin: 1px;
  border: 1px solid black;
  background-color: #f9f9f9;
  border-radius: 6px;
}

.footer {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f9f9;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.developer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}

.apiTxt {
  font-size: 15px;
  font-weight: 600;
}

/* #hitokoto_text{
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 30px;
} */



/* 响应式设计 */
@media screen and (max-width: 768px) {
  body {
    background-image: url("https://bing.ee123.net/img/?w=768x1280");
  }

  #searchText {
    width: 300px;
    height: 30px;
  }

  .searchBox img {
    padding: 2px;
    width: 30px;
    height: 30px;
  }

  .developer {
    font-size: 10px;
  }

  /* #hitokoto_text{
    font-size: 14px;
    margin-bottom: 20px;
  } */


}